*.suo
.vs/
[Bb]uild[Ll]og.*
project.lock.json
project.fragment.lock.json
*.tmp
*.tmp_proj
*.log
*.cachefile
.sass-cache/
publish/
*.[Pp]ublish.xml
*.pubxml
*.publishproj
*.nupkg
**/[Pp]ackages/*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
/[Aa]rquivos/
*.webinfo
vwd.webinfo
*.refresh