<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Empresa">
          <match url="^empresa\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/empresa/default.aspx" appendQueryString="false" />
        </rule>
        <rule name="Produto">
          <match url="^produto\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/produto/default.aspx" appendQueryString="false" />
        </rule>
        <rule name="Meio Ambiente">
          <match url="^meio-ambiente\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/meio-ambiente/default.aspx" appendQueryString="false" />
        </rule>
        <rule name="Colaboradores">
          <match url="^colaboradores\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/colaboradores/default.aspx" appendQueryString="false" />
        </rule>
        <rule name="Representantes">
          <match url="^representantes\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/representantes/default.aspx" appendQueryString="false" />
        </rule>
        <rule name="Contato">
          <match url="^contato\/?" ignoreCase="true" />
          <action type="Rewrite" url="/pages/contato/default.aspx" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <httpProtocol>
      <customHeaders>
        <remove name="Vary"/>
        <add name="Vary" value="Accept-Encoding"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 01 May 2023 00:00:00 GMT"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".m4v"/>
      <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <remove fileExtension=".oga"/>
      <mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
      <remove fileExtension=".spx"/>
      <mimeMap fileExtension=".spx" mimeType="audio/ogg"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
    </staticContent>
  </system.webServer>
</configuration>