<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <!--
    ## POR FAVOR ##
    Mantenha o código bem separado para melhor visualizar as propriedades.
    <!> Evite usar o AUTO IDENTAR do Visual Studio e retirar os espaços <!/>
  -->

  <appSettings>
    <add key="recaptcha-sitekey" value="6LfGRQETAAAAAGKL5PCxct2gFv-ZqtKVIy7YlpoH" />
    <add key="recaptcha-secretkey" value="6LfGRQETAAAAAOIsSOfHhMEXEYRj1msV6k0L0mWD" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">

      <!--<controls>
        <add tagPrefix="uc" src="~/modulos/ucs/uc_header/uc_header.ascx" tagName="uc_header" />
      </controls>-->

    </pages>
  </system.web>
  <system.webServer>

    <!-- forca o redir para o 404 -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>

    <!--<rewrite>
      <rules>

        <rule name="Modelo">
          <match url="^modelo\/?$" ignoreCase="true" />
          <action type="Rewrite" url="/pages/modelo/default.aspx" appendQueryString="false" />
        </rule>

        <rule name="Com parametros">
          <match url="^modelo\/([\d]*)\/([\w\-à-ú]*)\/([\w\-à-ú]*)\/?$" ignoreCase="true" />
          <action type="Rewrite" url="/pages/detail/default.aspx?id={R:1}&amp;cat={R:2}" appendQueryString="false" />
        </rule>

      </rules>
    </rewrite>-->

    <httpProtocol>
      <customHeaders>
        <remove name="Vary"/>
        <add name="Vary" value="Accept-Encoding"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 01 May 2023 00:00:00 GMT"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".m4v"/>
      <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <remove fileExtension=".oga"/>
      <mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
      <remove fileExtension=".spx"/>
      <mimeMap fileExtension=".spx" mimeType="audio/ogg"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
</configuration>
