@import '../mix/functions';

.formee{
    input[type="datetime"],
    input[type="file"],
    input[type="month"],
    input[type="range"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    input[type="url"],
    input[type*="date"],
    input[type="number"],
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="file"],
    input[type="search"],
    textarea,
    select {
        width: 100%;
        color: @input-color;
        padding: 12px 15px;
        background: @input-bg;
        border: 1px solid @input-border;
        transition: .2s;

        &:hover,
        &:focus {
            color: @input-color;
            border-color: darken(@input-border, 20%);
        }

        &[disabled] {
            cursor: not-allowed;
        }
    }

    select {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    label{
        display:block;
        margin:0 0 4px;
        font-size:12px;
        line-height:.9em;
        text-transform:uppercase;
    }

    textarea {
        height: 8em;
        resize: vertical;
    }

    // placeholder -> mensgem de erro
    .cfw-input-invalid input::-webkit-input-placeholder             { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid textarea::-webkit-input-placeholder          { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid input:-ms-input-placeholder                  { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid textarea:-ms-input-placeholder               { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid input::-moz-placeholder                      { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid textarea::-moz-placeholder                   { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid input:-moz-placeholder                       { color: @input-error--placeholder; opacity:1; }
    .cfw-input-invalid textarea:-moz-placeholder                    { color: @input-error--placeholder; opacity:1; }

    // placeholders -> default input´s
    input::-webkit-input-placeholder                                { color: @input--placeholder; opacity: 1; }
    textarea::-webkit-input-placeholder                             { color: @input--placeholder; opacity: 1; }
    input:-ms-input-placeholder                                     { color: @input--placeholder; opacity: 1; }
    textarea:-ms-input-placeholder                                  { color: @input--placeholder; opacity: 1; }
    input::-moz-placeholder                                         { color: @input--placeholder; opacity: 1; }
    textarea::-moz-placeholder                                      { color: @input--placeholder; opacity: 1; }
    input:-moz-placeholder                                          { color: @input--placeholder; opacity: 1; }
    textarea:-moz-placeholder                                       { color: @input--placeholder; opacity: 1; }

    // button, input submit, input reset
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    button {
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        display: table;
        line-height: 45px;
        color: @input-bg;
        padding: 0 50px;
        border: 0;
        background: @input-color;

        &.is-centered{
            margin-left: auto;
            margin-right: auto;
        }

        &.is-right{
            margin-left: auto;
            margin-right: 0;
        }

        &[disabled] {
            cursor: not-allowed;
        }
    }

    // grid
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12{
        .column(12);
        margin:10px 0;
        position: relative;
    }

}

@media screen {
    @media (max-width: 364px){
        .w-captcha {
            padding:0 !important;
        }
    }

    @media (max-width: 879px){
        .w-captcha > div > div{
            margin:0 auto;
        }

        // button, input submit, input reset
        input[type="submit"],
        input[type="button"],
        input[type="reset"],
        button {
            margin-left:auto;
            margin-right:auto;
        }
    }

    @media (min-width: 880px) {
        .formee{
            .col1   { .column(1,@resume:true); }
            .col2   { .column(2,@resume:true); }
            .col3   { .column(3,@resume:true); }
            .col4   { .column(4,@resume:true); }
            .col5   { .column(5,@resume:true); }
            .col6   { .column(6,@resume:true); }
            .col7   { .column(7,@resume:true); }
            .col8   { .column(8,@resume:true); }
            .col9   { .column(9,@resume:true); }
            .col10  { .column(10,@resume:true); }
            .col11  { .column(11,@resume:true); }
        }
    }
}