/* -------------------------------------- *\
	GRID CONFIG
\* -------------------------------------- */
/* -------------------------------------- *\
	CONFIG EXTRAS
\* -------------------------------------- */
/* -------------------------------------- *\
    VARIAVEIS APARTIR DAQUI
\* -------------------------------------- */
/*
  _   _               __  __                    
 | \ | | ____        |  \/  |                   
 |  \| | __ _  ___   | \  / | _____  _____ _ __ 
 | . ` |/ _` |/ _ \  | |\/| |/ _ \ \/ / _ \ '__|
 | |\  | (_| | (_) | | |  | |  __/>  <  __/ |   
 |_| \_|\__,_|\___/  |_|  |_|\___/_/\_\___|_|   

*/
.formee {
  /* INPUTS SUBMIT, BUTTON, RESET */
}
.formee .g1-12,
.formee .g2-12,
.formee .g3-12,
.formee .g4-12,
.formee .g5-12,
.formee .g6-12,
.formee .g7-12,
.formee .g8-12,
.formee .g9-12,
.formee .g10-12,
.formee .g11-12,
.formee .g12-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 0;
  position: relative;
}
.formee input[type="url"],
.formee input[type*="date"],
.formee input[type="number"],
.formee input[type="text"],
.formee input[type="password"],
.formee input[type="email"],
.formee input[type="tel"],
.formee input[type="file"],
.formee input[type="search"],
.formee textarea,
.formee select {
  width: 100%;
  color: #000;
  padding: 12px 15px;
  background: #fff;
  border: 1px solid #d3d3d3;
  transition: .2s;
}
.formee input[type="url"]:hover,
.formee input[type*="date"]:hover,
.formee input[type="number"]:hover,
.formee input[type="text"]:hover,
.formee input[type="password"]:hover,
.formee input[type="email"]:hover,
.formee input[type="tel"]:hover,
.formee input[type="file"]:hover,
.formee input[type="search"]:hover,
.formee textarea:hover,
.formee select:hover {
  border-color: #a0a0a0;
}
.formee input[type="url"]:focus,
.formee input[type*="date"]:focus,
.formee input[type="number"]:focus,
.formee input[type="text"]:focus,
.formee input[type="password"]:focus,
.formee input[type="email"]:focus,
.formee input[type="tel"]:focus,
.formee input[type="file"]:focus,
.formee input[type="search"]:focus,
.formee textarea:focus,
.formee select:focus {
  color: #666;
  border-color: #a0a0a0;
}
.formee input[type="url"][disabled],
.formee input[type*="date"][disabled],
.formee input[type="number"][disabled],
.formee input[type="text"][disabled],
.formee input[type="password"][disabled],
.formee input[type="email"][disabled],
.formee input[type="tel"][disabled],
.formee input[type="file"][disabled],
.formee input[type="search"][disabled],
.formee textarea[disabled],
.formee select[disabled] {
  cursor: not-allowed;
}
.formee textarea {
  height: 11.1em;
  resize: vertical;
}
.formee input::-webkit-input-placeholder {
  color: #d3d3d3;
}
.formee textarea::-webkit-input-placeholder {
  color: #d3d3d3;
}
.formee input:-ms-input-placeholder {
  color: #d3d3d3;
}
.formee textarea:-ms-input-placeholder {
  color: #d3d3d3;
}
.formee input::-moz-placeholder {
  color: #d3d3d3;
}
.formee textarea::-moz-placeholder {
  color: #d3d3d3;
}
.formee input:-moz-placeholder {
  color: #d3d3d3;
}
.formee textarea:-moz-placeholder {
  color: #d3d3d3;
}
.formee .cFw2013_input-erro::-webkit-input-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro:-ms-input-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro::-moz-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro:-moz-placeholder {
  color: #b01717;
}
.formee input[type="submit"],
.formee input[type="button"],
.formee input[type="reset"],
.formee button {
  font-size: 16px;
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: table;
  line-height: 45px;
  color: #fff;
  padding: 0 50px;
  border: 0 none;
  background-color: #003d92;
}
.formee input[type="submit"][disabled],
.formee input[type="button"][disabled],
.formee input[type="reset"][disabled],
.formee button[disabled] {
  cursor: not-allowed;
}
@media screen and (max-width: 350px) {
  .formee .w-catpcha {
    padding: 0;
  }
}
@media screen and (min-width: 540px) {
  .formee .g1-12 {
    width: 8.33333333%;
  }
  .formee .g2-12 {
    width: 16.66666667%;
  }
  .formee .g3-12 {
    width: 25%;
  }
  .formee .g4-12 {
    width: 33.33333333%;
  }
  .formee .g5-12 {
    width: 41.66666667%;
  }
  .formee .g6-12 {
    width: 50%;
  }
  .formee .g7-12 {
    width: 58.33333333%;
  }
  .formee .g8-12 {
    width: 66.66666667%;
  }
  .formee .g9-12 {
    width: 75%;
  }
  .formee .g10-12 {
    width: 83.33333333%;
  }
  .formee .g11-12 {
    width: 91.66666667%;
  }
}
