/* -------------------------------------- *\
	GRID CONFIG
\* -------------------------------------- */
/* -------------------------------------- *\
	CONFIG EXTRAS
\* -------------------------------------- */
/* -------------------------------------- *\
    VARIAVEIS APARTIR DAQUI
\* -------------------------------------- */
/*
  _   _               __  __                    
 | \ | | ____        |  \/  |                   
 |  \| | __ _  ___   | \  / | _____  _____ _ __ 
 | . ` |/ _` |/ _ \  | |\/| |/ _ \ \/ / _ \ '__|
 | |\  | (_| | (_) | | |  | |  __/>  <  __/ |   
 |_| \_|\__,_|\___/  |_|  |_|\___/_/\_\___|_|   

*/
.formee {
  /* INPUTS SUBMIT, BUTTON, RESET */
}
.formee:after {
  content: "";
  display: block;
  clear: both;
}
.formee .g1-12,
.formee .g2-12,
.formee .g3-12,
.formee .g4-12,
.formee .g5-12,
.formee .g6-12,
.formee .g7-12,
.formee .g8-12,
.formee .g9-12,
.formee .g10-12,
.formee .g11-12,
.formee .g12-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 0;
  position: relative;
}
.formee input[type="datetime"],
.formee input[type="file"],
.formee input[type="month"],
.formee input[type="radio"],
.formee input[type="range"],
.formee input[type="time"],
.formee input[type="url"],
.formee input[type="week"],
.formee input[type="url"],
.formee input[type*="date"],
.formee input[type="number"],
.formee input[type="text"],
.formee input[type="password"],
.formee input[type="email"],
.formee input[type="tel"],
.formee input[type="file"],
.formee input[type="search"],
.formee textarea,
.formee select {
  width: 100%;
  color: #000;
  padding: 12px 15px;
  background: #fff;
  border: 1px solid #d3d3d3;
  -o-transition: .2s;
  transition: .2s;
}
.formee input[type="datetime"]:hover,
.formee input[type="file"]:hover,
.formee input[type="month"]:hover,
.formee input[type="radio"]:hover,
.formee input[type="range"]:hover,
.formee input[type="time"]:hover,
.formee input[type="url"]:hover,
.formee input[type="week"]:hover,
.formee input[type="url"]:hover,
.formee input[type*="date"]:hover,
.formee input[type="number"]:hover,
.formee input[type="text"]:hover,
.formee input[type="password"]:hover,
.formee input[type="email"]:hover,
.formee input[type="tel"]:hover,
.formee input[type="file"]:hover,
.formee input[type="search"]:hover,
.formee textarea:hover,
.formee select:hover {
  border-color: #a0a0a0;
}
.formee input[type="datetime"]:focus,
.formee input[type="file"]:focus,
.formee input[type="month"]:focus,
.formee input[type="radio"]:focus,
.formee input[type="range"]:focus,
.formee input[type="time"]:focus,
.formee input[type="url"]:focus,
.formee input[type="week"]:focus,
.formee input[type="url"]:focus,
.formee input[type*="date"]:focus,
.formee input[type="number"]:focus,
.formee input[type="text"]:focus,
.formee input[type="password"]:focus,
.formee input[type="email"]:focus,
.formee input[type="tel"]:focus,
.formee input[type="file"]:focus,
.formee input[type="search"]:focus,
.formee textarea:focus,
.formee select:focus {
  color: #666;
  border-color: #a0a0a0;
}
.formee input[type="datetime"][disabled],
.formee input[type="file"][disabled],
.formee input[type="month"][disabled],
.formee input[type="radio"][disabled],
.formee input[type="range"][disabled],
.formee input[type="time"][disabled],
.formee input[type="url"][disabled],
.formee input[type="week"][disabled],
.formee input[type="url"][disabled],
.formee input[type*="date"][disabled],
.formee input[type="number"][disabled],
.formee input[type="text"][disabled],
.formee input[type="password"][disabled],
.formee input[type="email"][disabled],
.formee input[type="tel"][disabled],
.formee input[type="file"][disabled],
.formee input[type="search"][disabled],
.formee textarea[disabled],
.formee select[disabled] {
  cursor: not-allowed;
}
.formee textarea {
  height: 8em;
  resize: vertical;
}
.formee input::-webkit-input-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee textarea::-webkit-input-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee input:-ms-input-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee textarea:-ms-input-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee input::-moz-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee textarea::-moz-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee input:-moz-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee textarea:-moz-placeholder {
  color: #b01717;
  opacity: 1;
}
.formee .cFw2013_input-erro::-webkit-input-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro:-ms-input-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro::-moz-placeholder {
  color: #b01717;
}
.formee .cFw2013_input-erro:-moz-placeholder {
  color: #b01717;
}
.formee input[type="submit"],
.formee input[type="button"],
.formee input[type="reset"],
.formee button {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: table;
  line-height: 45px;
  color: #fff;
  padding: 0 50px;
  border: 0 none;
  background-color: #003d92;
}
.formee input[type="submit"].is-centered,
.formee input[type="button"].is-centered,
.formee input[type="reset"].is-centered,
.formee button.is-centered {
  margin-left: auto;
  margin-right: auto;
}
.formee input[type="submit"].is-right,
.formee input[type="button"].is-right,
.formee input[type="reset"].is-right,
.formee button.is-right {
  margin-left: auto;
  margin-right: 0;
}
.formee input[type="submit"][disabled],
.formee input[type="button"][disabled],
.formee input[type="reset"][disabled],
.formee button[disabled] {
  cursor: not-allowed;
}
@media screen and (max-width: 350px) {
  .formee .w-catpcha {
    padding: 0;
  }
}
@media screen and (min-width: 540px) {
  .formee .g1-12 {
    width: 8.33333333%;
  }
  .formee .g2-12 {
    width: 16.66666667%;
  }
  .formee .g3-12 {
    width: 25%;
  }
  .formee .g4-12 {
    width: 33.33333333%;
  }
  .formee .g5-12 {
    width: 41.66666667%;
  }
  .formee .g6-12 {
    width: 50%;
  }
  .formee .g7-12 {
    width: 58.33333333%;
  }
  .formee .g8-12 {
    width: 66.66666667%;
  }
  .formee .g9-12 {
    width: 75%;
  }
  .formee .g10-12 {
    width: 83.33333333%;
  }
  .formee .g11-12 {
    width: 91.66666667%;
  }
}

/* -------------------------------------------- *\
    TOOLTIP DAS VALIDAÇÕES
\* -------------------------------------------- */
.tooltip {
  position: absolute;
  display: inline-block;
  text-transform: none;
}
.tooltip:before,
.tooltip:after {
  position: absolute;
  z-index: 1000000;
  visibility: hidden;
  opacity: 0;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  pointer-events: none;
}
.tooltip:before {
  position: absolute;
  z-index: 1000001;
  border: 6px solid transparent;
  background: transparent;
  content: '';
}
.tooltip:after {
  padding: 8px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  content: attr(data-tooltip);
  white-space: nowrap;
  font-size: 12px;
  line-height: 13.2px;
}
.tooltip.baixo {
  left: 34px;
  bottom: 0;
}
.tooltip.baixo:before {
  margin-top: -12px;
}
.tooltip.baixo:after {
  margin-left: -18px;
}
.tooltip.baixo:before,
.tooltip.baixo:after {
  top: 100%;
  left: 50%;
}
.tooltip.baixo:hover:before,
.tooltip.baixo:hover:after {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.tooltip.erro:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #5a2626;
}
.tooltip.erro.baixo:before {
  border-bottom-color: #b34e4d;
}
.tooltip.always.baixo:after,
.tooltip.always.baixo:before {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.tooltip:hover:before,
.tooltip.always:before,
.tooltip:hover:after,
.tooltip.always:after {
  visibility: visible;
  opacity: 1;
}
