// GRID CONFIG
//--------------------------------------
// gutter (espaço entre as colunas)
@gutter-width: 15;
// quant. colunas
@columns: 12;
// font-base
@font-base: 16;
// largura do conteudo
@larguraContent: 1200px;

// CORES DETALHES NOTICIAS
@color-link: @input-color;
@color-caption: #f1f1f1;


// CORES BOXES
//--------------------------------------
@info-border: #e3f6fd;
@error-border: #ffdddd;
@success-border: #dfffc6;
@warning-border: #ffe8b1;
@box-txt: #555;


// CORES FORMULÁRIOS
//--------------------------------------
@input-color: #333;
@input-bg: @color-white;
@input-border: #d3d3d3;
@input--placeholder: @input-color;
@input-error--placeholder: #b01717; // recomendada cor


// CORES
//--------------------------------------
@color-white: #fff;