// GRID CONFIG
//--------------------------------------
// gutter (espaço entre as colunas)
@gutter-width: 15;
// quant. colunas
@columns: 12;
// font-base
@font-base: 16;
// largura do conteudo
@larguraContent: 1200px;


// NOTICIA (conteudo)
// nome wrapper conteúdo vindo do wysiwyg
@newscontent: news-content;


// CORES BOXES
//--------------------------------------
@info-border: #e3f6fd;
@error-border: #ffdddd;
@success-border: #dfffc6;
@warning-border: #ffe8b1;


// CORES FORMULÁRIOS
//--------------------------------------
@input-color: #333;
@input-bg: #fff;
@input-border: #d3d3d3;
@input--placeholder: #333;
@input-error--placeholder: #b01717; // recomendada cor


// CORES
//--------------------------------------
