/* -------------------------------------- *\
	GRID CONFIG
\* -------------------------------------- */

// gutter (espaço entre as colunas)
@gutter-width: 15;          
// quant. colunas
@columns: 12;               
// font-base
@font-base: 16;              
// resolução para forms ficarem linha cheia
@quebraFormee: 480px;       
// largura do conteudo
@larguraContent: 1200px;    
// largura grid sprite imagens
@spriteW: 30px;             


/* -------------------------------------- *\
	CONFIG EXTRAS
\* -------------------------------------- */

// normalize v3.0.3
@normalize: true;

// box model, font-size, :focus ouline, select mobile e figure margin
@default: true;

// cf, row, content e select chrome mobile
@essential: true;

// reset list
@list-styles: false;

// g1....g12
@grid-class: false;

// conteudo e img responsivo
@resp-itens: false;

// diagnostico semantico, etc...
@diagnostic: false;

// classe inicial icone [class^=ico]
@icons: false;

// youtube plugin
@youtube-video: false;

// tooltip (data-tip)
@tooltip: false;


/* -------------------------------------- *\
    VARIAVEIS APARTIR DAQUI
\* -------------------------------------- */