<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!--
    quando criar as configurações para o PUBLISH,
    adicionar as seguintes linhas para não publicar 
    desnecessariamente ARQUIVOS e PASTAS
    -->
    <ExcludeFoldersFromDeployment>
      dev;.vscode;arquivos;Arquivos;.vs;node_modules;
    </ExcludeFoldersFromDeployment>
    <ExcludeFilesFromDeployment>
      gruntfile.js;package-lock.json;package.json;.gitignore;*.md;*.sln;*.suo;
    </ExcludeFilesFromDeployment>
</PropertyGroup>
</Project>    
