@charset "UTF-8";
@import 'mix/mixins';

// ESTILOS INICIAIS
//------------------------------------
body {
    //color:@color;
    //font-family: 'xxx', sans-serif;
    font-size:@font-base*1px;
}

a,
a:hover {
    text-decoration: none;
}


//????????
//------------------------------------



//ESTILOS GERAIS
//------------------------------------
@import 'components/boxmsg';
@import 'components/animations';
@import 'components/fonts';
@import 'components/icons';
